.products

  table.products__table
    
    tr.products__header-row
      th.products__table-col-1
        input.products__checkbox(type='checkbox')

      th.products__table-col-2
        | Name
        span

      th.products__table-col-3
        | Type
        span

      th.products__table-col-4
        | Price
        span

      th.products__table-col-5
        | Inventory
        span
