.products

  pre {{sortState}}

  table.products__table
    
    //- header row
    tr.products__header-row
      th
        input.products__checkbox(type='checkbox' v-products-directive='')
      th(@click='sortAlpha')
        | Name
        span
      th
        | Type
        span
      th(@click='sortPrice')
        | Price
        span
      th(@click='sortInventory')
        | Inventory
        span

    //- product row
    SingleProduct(v-for='(product, index) in filteredItems' :key='product.id' :props='product' v-show='isInRange(index)')

  //- products footer
  .products__footer

    .products__page-size
      PageSize

    .products__pagination
      //- Pagination(:props='pages')
      .products__pagination-arrow.products__pagination-arrow--prev(:class='[ currentPage === 1 ? "pagination__arrow--disabled" : "" ]' @click='pageDown')
        img(src='../../assets/images/arrow-left.png')

      .products__pagination-select
        select(v-model='currentPage' @change='onSelect')
          option(v-for='(page, index) in pages' :value='index + 1') {{ index + 1 }}

      .products__pagination-arrow.products__pagination-arrow--next(:class='[ currentPage === (pages) ? "pagination__arrow--disabled" : "" ]' @click='pageUp')
        img(src='../../assets/images/arrow-right.png')