.products

  table.products__table
    
    //- header row
    tr.products__header-row
      th
        input.products__checkbox(type='checkbox')
      th
        | Name
        span
      th
        | Type
        span
      th
        | Price
        span
      th
        | Inventory
        span

    //- product row
    SingleProduct(v-for='product in props' :props='product')

  //- products footer
  .products__footer

    .products__page-size
      PageSize

    .products__pagination
      Pagination