.button
  @extend %p1
  display: inline-block
  transition: all 0.2s ease
  border-radius: rem-calc(3)
  padding: rem-calc(7) rem-calc(21)
  box-sizing: border-box !important

  &:hover
    cursor: pointer

  &--light
    border: 2px solid $c3
    padding: rem-calc(7) rem-calc(23)
    color: $c5

    &:hover
      border-color: $c4
      background-color: $c4
      color: $c2

  &--dark
    border: 2px solid $c1
    background-color: $c1
    color: $c2
    font-weight: 400

    &:hover
      border-color: $c1-dark
      background-color: $c1-dark