h1, .h1, %h1
  margin: 0
  line-height: 1.2
  font-family: $font-family-sans-serif
  font-size: rem-calc(40)

  @media (min-width: $screen-md-min)
    // line-height: 0.9
    font-size: rem-calc(55)

h2, .h2, %h2
  margin: 0
  line-height: 1.4
  font-family: $font-family-sans-serif
  font-size: rem-calc(26) !important

  @media (min-width: $screen-md-min)
    font-size: rem-calc(32) !important

h3, .h3, %h3
  margin: 0
  line-height: 1.4
  font-size: rem-calc(24)

  @media (min-width: $screen-md-min)
    font-size: rem-calc(30)

h4, .h4, %h4
  margin: 0
  line-height: 1.6
  font-size: rem-calc(20)

  @media (min-width: $screen-md-min)
    font-size: rem-calc(22)

%p1
  line-height: 1.618
  font-size: rem-calc(18)

  @media (min-width: $screen-md-min)
    font-size: rem-calc(18)

%p2
  line-height: 1.618
  font-size: rem-calc(16)

  @media (min-width: $screen-md-min)
    font-size: rem-calc(16)

%p3
  line-height: 1.618
  font-size: rem-calc(15)

  @media (min-width: $screen-md-min)
    font-size: rem-calc(15)

