.page
  padding: rem-calc(25) 0 rem-calc(40)
  
  // --------------

  &__title
    @extend %h1
    display: inline-block
    margin-top: rem-calc(8)

  // --------------

  &__header
    margin-bottom: rem-calc(40)

  &__header-buttons
    display: inline-block
    float: right

  &__header-button
    display: inline-block
    float: right
    margin-left: rem-calc(16)


  // --------------

  &__search
    margin-bottom: rem-calc(22)