.page

  .container-fluid
    
    //- header 
    .page__header
      .page__title Products

      .page__header-buttons

        .page__header-button
          ButtonAdd
        .page__header-button
          ButtonImport
        .page__header-button
          ButtonExport

    //- search
    .page__search
      Search

    pre {{pageSize}}

    //- product table
    .page__products
      Products(:props='props')