.page

  .container-fluid
    
    .page__header
      .page__title Products

      .page__header-buttons

        .page__header-button
          ButtonAdd
        .page__header-button
          ButtonImport
        .page__header-button
          ButtonExport

    .page__search
      Search