tr.table-header
  th
    input.table-header__checkbox(type='checkbox' v-table-header-directive='')
  th(@click='sortAlpha')
    | Name
    span(:class='[ sortState === "alphaReverse" ? "reverse" : "" ]')
  th
    | Type
    span
  th(@click='sortPrice')
    | Price
    span(:class='[ sortState === "priceReverse" ? "reverse" : "" ]')
  th(@click='sortInventory')
    | Inventory
    span(:class='[ sortState === "inventoryReverse" ? "reverse" : "" ]')
