tr.single-product(:class='[ editable ? "single-product--editable" : "" ]')
  td
    input.single-product__checkbox(type='checkbox' @click='editToggle')
  td
    img.single-product__thumb(src='http://frontend-trial-project.weebly.com/uploads/1/0/5/4/105462933/27890e0eddd8e800fc2c8fc1c434744d.png')
    .single-product__name {{ name }}
    input.single-product__name-input(v-model='name')
  td
    .single-product__type {{ type }}
  td
    .single-product__price ${{ price }}
  td
    .single-product__inventory {{ inventory }}