tr.single-product__row
  td
    input.single-product__checkbox(type='checkbox')
  td
    img.single-product__thumb(src='http://frontend-trial-project.weebly.com/uploads/1/0/5/4/105462933/27890e0eddd8e800fc2c8fc1c434744d.png')
    .single-product__name Snapback Hat
  td
    .single-product__type Physical
  td
    .single-product__price $15.67
  td
    .single-product__inventory 200