tr.single-product(:class='[ editable ? "single-product--editable" : "" ]')
  td
    input.single-product__checkbox(type='checkbox' @click='editToggle')
  td
    img.single-product__thumb(:src='props.thumbnail')
    .single-product__name {{ props.name }}
    input.single-product__name-input(v-model='props.name')
  td
    .single-product__type {{ props.type }}
  td
    .single-product__price ${{ props.price }}
  td
    .single-product__inventory {{ props.inventory }}